<div class="legal-notice">
  <h1>{{ "title.legalNotice" | translate }}</h1>
  <p>
    {{ "legalNotice.intro" | translate }}
  </p>
  <h2>{{ "legalNotice.owner" | translate }}</h2>
  <p>
    {{ "legalNotice.ownerDetails" | translate }}
  </p>
  <h2>{{ "legalNotice.hosting" | translate }}</h2>
  <p>
    {{ "legalNotice.hostingDetails" | translate }}
  </p>
  <h2>{{ "legalNotice.copyright" | translate }}</h2>
  <p>
    {{ "legalNotice.copyrightDetails" | translate }}
  </p>

  <h2>{{ "legalNotice.privacy" | translate }}</h2>
  <p>{{ "legalNotice.privacyDetails" | translate }}</p>
</div>
