@use "vendors/colors" as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: $color-text;
  background-color: $color-bg;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

a {
  color: $color-accent-deep;
  text-decoration: underline;

  &:hover {
    color: $color-dark;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

ngx-timeline .hour {
  display: none !important;
}

ngx-timeline .event-outer-container {
  margin: 1px 2.5rem !important;
  width: calc(100% - 5rem) !important;
}
