<div class="footer">
  <div class="footer__content">
    <div class="footer__text">
      <p>
        © {{ currentYear }} - Portfolio de
        <a href="" target="_blank" rel="noopener noreferrer">Allan PEREZ</a>
      </p>
    </div>
    <img class="footer__photo" src="/assets/photoq.png" alt="Logo" />
    <div class="footer__legal">
      <a
        [routerLink]="['/', currentLang, 'legal-notice']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        title="Mentions légales"
      >
        Mentions légales
      </a>
    </div>
  </div>
</div>
