@use "abstracts/medias";

.footer {
    background-color: #1A2324;
    color: #ffffff;
    min-height: 80px;
    z-index: 1000;
    opacity: 0;
    animation: appear 0.5s ease-in 0.5s forwards;
    width: 100vw;
    overflow-x: hidden;

    @include medias.for-tablet-portrait {
        display: none;
    }

    .footer__content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1.5rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

    }

    .footer__text {
        font-size: 0.9rem;

        a {
            color: #ffffff;
            text-decoration: underline;
            transition: color 0.2s ease;

            &:hover {
                color: #00bcd4;
            }
        }
    }

    .footer__legal {
        a {
            font-size: 0.9rem;
            color: #ffffff;
            text-decoration: none;
            transition: color 0.2s ease;

            &:hover {
                color: #00bcd4;
                text-decoration: underline;
            }

            &.active {
                font-weight: bold;
            }
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}