<div class="navBar">
  <!-- Langues -->
  <div class="navBar__lang">
    <button (click)="switchLang('fr')" [disabled]="currentLang === 'fr'">🇫🇷</button>
    <button (click)="switchLang('en')" [disabled]="currentLang === 'en'">🇬🇧</button>
  </div>

  <!-- Burger -->
  <button class="navBar__burger" (click)="toggleMobileMenu()">
    <span class="navBar__burger_line"></span>
    <span class="navBar__burger_line"></span>
    <span class="navBar__burger_line"></span>
  </button>

  <!-- Menu (desktop + mobile conteneur) -->
  <div class="navBar__menu" [class.navBar__menu--open]="mobileMenuOpen">
    <!-- Bouton fermer (mobile) -->
    <button class="navBar__close" *ngIf="mobileMenuOpen" (click)="closeMobileMenu()">✕</button>

    <!-- Vue principale -->
    <ng-container *ngIf="!mobileSubmenu; else submenuView">
      <ng-container *ngFor="let link of links">
        <!-- Liens avec dropdown (Skills et Projects) -->
        <div *ngIf="link.hasSubmenu; else normalLink" class="navBar__submenu">
          <a
            [routerLink]="['/', currentLang, link.path]"
            routerLinkActive="selected"
            class="navBar__menu_link"
            (click)="handleSubmenuClick($event, link.path)"
          >
            {{ link.name | translate }}
          </a>

          <!-- Dropdown desktop pour Skills -->
          <div *ngIf="link.path === 'skills'" class="navBar__submenu_list">
            <div class="navBar__submenu_group">
              <span>{{ 'navbar.skill.technical' | translate }}</span>
              <ng-container *ngFor="let skill of technicalSkills">
                <a [routerLink]="['/', currentLang, 'skills', skill.name]" (click)="closeMobileMenu()">
                  {{ skill.name }}
                </a>
              </ng-container>
            </div>

            <div class="navBar__submenu_group">
              <span>{{ 'navbar.skill.human' | translate }}</span>
              <ng-container *ngFor="let skill of humanSkills">
                <a [routerLink]="['/', currentLang, 'skills', skill.name]" (click)="closeMobileMenu()">
                  {{ skill.name | translate }}
                </a>
              </ng-container>
            </div>
          </div>

          <!-- Dropdown desktop pour Projects -->
          <div *ngIf="link.path === 'projects'" class="navBar__submenu_list">
            <div class="navBar__submenu_group">
              <ng-container *ngFor="let project of projects">
                <a [routerLink]="['/', currentLang, 'projects', project.slug]" (click)="closeMobileMenu()">
                  {{ project.title }}
                </a>
              </ng-container>
            </div>
          </div>
        </div>

        <!-- Liens normaux -->
        <ng-template #normalLink>
          <a
            [routerLink]="link.path ? ['/', currentLang, link.path] : ['/', currentLang]"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }"
            class="navBar__menu_link"
            (click)="closeMobileMenu()"
          >
            {{ link.name | translate }}
          </a>
        </ng-template>
      </ng-container>
    </ng-container>

    <!-- Vue sous-menu mobile -->
    <ng-template #submenuView>
      <!-- Sous-menu Skills -->
      <div class="navBar__submenu_mobile" *ngIf="mobileSubmenu === 'skills'">
        <button class="navBar__back" (click)="mobileSubmenu = null">← {{ 'back' | translate }}</button>

        <div class="navBar__submenu_group">
          <a 
            [routerLink]="['/', currentLang, 'skills']" 
            (click)="closeMobileMenu()"
            class="navBar__submenu_viewAll"
          >
            {{ 'navbar.viewAll' | translate }}
          </a>
        </div>

        <div class="navBar__submenu_group">
          <span>{{ 'navbar.skill.technical' | translate }}</span>
          <ng-container *ngFor="let skill of technicalSkills">
            <a [routerLink]="['/', currentLang, 'skills', skill.name]" (click)="closeMobileMenu()">
              {{ skill.name }}
            </a>
          </ng-container>
        </div>

        <div class="navBar__submenu_group">
          <span>{{ 'navbar.skill.human' | translate }}</span>
          <ng-container *ngFor="let skill of humanSkills">
            <a [routerLink]="['/', currentLang, 'skills', skill.name]" (click)="closeMobileMenu()">
              {{ skill.name | translate }}
            </a>
          </ng-container>
        </div>
      </div>

      <!-- Sous-menu Projects -->
      <div class="navBar__submenu_mobile" *ngIf="mobileSubmenu === 'projects'">
        <button class="navBar__back" (click)="mobileSubmenu = null">← {{ 'back' | translate }}</button>

        <div class="navBar__submenu_group">
          <a 
            [routerLink]="['/', currentLang, 'projects']" 
            (click)="closeMobileMenu()"
            class="navBar__submenu_viewAll"
          >
            {{ 'navbar.viewAll' | translate }}
          </a>
        </div>

        <div class="navBar__submenu_group">
          <ng-container *ngFor="let project of projects">
            <a [routerLink]="['/', currentLang, 'projects', project.slug]" (click)="closeMobileMenu()">
              {{ project.title }}
            </a>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </div>

  <!-- Réseaux sociaux -->
  <div class="navBar__network">
    <ng-container *ngFor="let social of socials">
      <a [href]="social.url" target="_blank" rel="noopener noreferrer" [title]="social.name">
        <img class="navBar__network_img" [src]="'/assets/icons/' + social.icon" [alt]="social.name" width="30" height="30" />
      </a>
    </ng-container>
  </div>
</div>