<div class="navBar">
  <!-- Langues -->
  <div class="navBar__lang">
    <button
      type="button"
      class="navBar__lang_current"
      (click)="toggleLangMenu($event)"
      [attr.aria-expanded]="langMenuOpen"
      aria-haspopup="listbox"
    >
      <img
        class="navBar__lang_flag"
        [src]="'/assets/icons/flags/' + currentLangOption.flag + '.svg'"
        [alt]="currentLangOption.label"
        width="20"
        height="14"
      />
      <span class="navBar__lang_code">{{ currentLangOption.code | uppercase }}</span>
      <span class="navBar__lang_chevron" [class.navBar__lang_chevron--open]="langMenuOpen">▾</span>
    </button>

    <ul class="navBar__lang_list" *ngIf="langMenuOpen" role="listbox">
      <li *ngFor="let lang of availableLangs">
        <button
          type="button"
          role="option"
          [attr.aria-selected]="currentLang === lang.code"
          [disabled]="currentLang === lang.code"
          (click)="switchLang(lang.code); closeLangMenu()"
        >
          <img class="navBar__lang_flag" [src]="'/assets/icons/flags/' + lang.flag + '.svg'" [alt]="lang.label" width="20" height="14" />
          <span>{{ lang.label }}</span>
        </button>
      </li>
    </ul>
  </div>

  <!-- Burger -->
  <button class="navBar__burger" (click)="toggleMobileMenu()">
    <span class="navBar__burger_line"></span>
    <span class="navBar__burger_line"></span>
    <span class="navBar__burger_line"></span>
  </button>

  <!-- Menu (desktop + mobile conteneur) -->
  <div class="navBar__menu" [class.navBar__menu--open]="mobileMenuOpen">
    <!-- Bouton fermer (mobile) -->
    <button class="navBar__close" *ngIf="mobileMenuOpen" (click)="closeMobileMenu()">✕</button>

    <!-- Vue principale -->
    <ng-container *ngFor="let link of links">
      <a
        [routerLink]="link.path ? ['/', currentLang, link.path] : ['/', currentLang]"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navBar__menu_link"
        (click)="closeMobileMenu()"
      >
        {{ link.name | translate }}
      </a>
    </ng-container>
  </div>

  <!-- Réseaux sociaux -->
  <div class="navBar__network">
    <ng-container *ngFor="let social of socials">
      <a [href]="social.url" target="_blank" rel="noopener noreferrer" [title]="social.name">
        <img class="navBar__network_img" [src]="'/assets/icons/' + social.icon" [alt]="social.name" width="30" height="30" />
      </a>
    </ng-container>
  </div>
</div>