.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 150px 0 100px 400px;
    transition: padding-left 0.3s ease;
    &.collapsed {
        padding-left:100px;
    }
}

