<div class="skill-list">
    <div class="technical-skills">
      <h2>Technical Skills</h2>
      <ng-container *ngFor="let skill of skills">
        <app-skill-card *ngIf="skill.isTechnical" [skill]="skill" (click)="handleClickSkill(skill.name)"></app-skill-card>
      </ng-container>
    </div>
    <div class="non-technical-skills">
      <h2>Non-Technical Skills</h2>
      <ng-container *ngFor="let skill of skills">
        <app-skill-card *ngIf="!skill.isTechnical" [skill]="skill" (click)="handleClickSkill(skill.name)"></app-skill-card>
      </ng-container>
    </div>
  </div>