<div class="blog-card" [routerLink]="['/', currentLang, 'blog', article.slug]">
  <img
    [src]="
      article.thumbnailUrl
        ? '/assets/' + article.thumbnailUrl
        : '/assets/projects/image_not_available.png'
    "
    alt="Illustration de l'article"
    class="blog-image"
  />
  <div class="blog-info">
    <h3>{{ article.title }}</h3>
    <p class="excerpt">{{ article.excerpt }}</p>
    <div class="tags">
      <span *ngFor="let tag of article.tags" class="tag">{{ tag }}</span>
    </div>
    <small class="date">{{ article.publishedDate | date : "MMM yyyy" }}</small>
  </div>
</div>
